nav {
  padding: 20px;
  height: 60px;
  background: #1976d2;
}
a {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: aliceblue;
  font-weight: 400;
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active {
    color: #0c2a48;
  }
}

.isActive {
  background: rgba(255, 255, 255, 0.15);
}
