<div class="outerContainer" *ngIf="currentObject">
    <div class="sideNav">sidenav</div>
    <div class="innerContainer">
        <div class="header">
            Header
        </div>
        <div>
            <div class="progress"><progress id="file" value="32" max="100"> 32% </progress></div>
            <div class="container">
                <div class="container_left">
                    <div style='height: 100%; background-color: gray' *ngIf="currentObject.fileType === 'image'">
                        <button class="lbtn" (click)="rotateLeft()">Rotate Left</button>
                        <button class="rbtn" (click)="rotateRight()">Rotate Right</button>
                        <img #inputElement class="image" [src]='currentObject.url' />
                    </div>
                    <iframe *ngIf="currentObject.fileType === 'pdf'" [src]="currentObject.url | safe"
                        style="position: absolute; height: 100%; border: none;width: 95%;"></iframe>
                </div>
                <div class="container_right">
                    <div class="amount">
                        <div *ngIf="currentObject.type === 'amount'">
                            <label>Amount</label>
                            <input class="width_150" currencyMask [(ngModel)]="amount"
                                [options]="{thousands: ',', decimal: '.' }" required />
                        </div>
                        <div *ngIf="currentObject.type === 'amount'">
                            <label>Currency</label>
                            <select class="width_150" name="currency" id="currency" (change)="onChangeCurrency($event)"
                                [(ngModel)]="currency">
                                <option value="currency" *ngFor="let currency of currencyList" value="{{currency.cc}}">
                                    {{currency.cc}}
                                </option>
                            </select>
                            <p>If unclear, use USD $</p>
                        </div>
                    </div>
                    <div class="mt20" *ngIf="currentObject.type === 'date'">
                        <label>Date</label>
                        <div class="date">
                            <div>
                                <label>mm</label>
                                <input type="text" placeholder="mm" (keypress)="keyPress($event)" type="number"
                                    pattern="[0-9]*" [(ngModel)]="month">
                            </div>
                            <div>
                                <label>dd</label>
                                <input type="text" placeholder="dd" (keypress)="keyPress($event)" type="number"
                                    pattern="[0-9]*" [(ngModel)]="date">
                            </div>
                            <div>
                                <label>yyyy</label>
                                <input type="text" placeholder="yyyy" (keypress)="keyPress($event)" type="number"
                                    pattern="[0-9]*" [(ngModel)]="year">
                            </div>
                        </div>
                    </div>
                    <div class="mt10 info" *ngIf="currentObject.type === 'amount'">
                        <input type="checkbox"><label>Amount is unclear</label>
                    </div>
                    <div class="mt10 info" *ngIf="currentObject.type === 'amount'">
                        <input type="checkbox"><label>Amount is negative</label>
                    </div>
                    <div class="mt10 info" *ngIf="currentObject.type === 'date'">
                        <input type="checkbox"><label>Date is unclear</label>
                    </div>
                    <div class="mt20">
                        <button class="btn" (click)="validateData()">Next</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>