.outerContainer {
  display: flex;
  height: 100vh;
  .progress {
    padding: 20px;
    position: relative;
    span {
      position: absolute;
      left: 50%;
      top: 37px;
      font-size: 14px;
    }
    progress {
      width: 100%;
      height: 50px;
    }
  }
  .sideNav {
    width: 100px;
    height: 100%;
    background-color: #1976d2;
    span {
      font-size: 40px;
      font-weight: 600;
      color: aliceblue;
      position: relative;
      left: 20px;
      top: 5px;
      padding: 10px;
    }
  }
  .innerContainer {
    width: calc(100% - 100px);
  }
  .header {
    height: 60px;
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    align-items: center;
    span {
      font-size: 25px;
      margin-left: 20px;
    }
  }
  .container {
    display: flex;
    height: calc(100vh - 155px);
    padding: 0 20px 0 20px;
    &_left {
      width: 60%;
      position: relative;
      overflow: auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding: 20px;
      }
      .lbtn {
        position: fixed;
        left: 145px;
        top: 165px;
        z-index: 5;
      }
      .rbtn {
        position: fixed;
        left: 55%;
        top: 165px;
        z-index: 5;
      }
      .zoomBtns {
        position: fixed;
        bottom: 35px;
        left: 32%;
        display: flex;
        gap: 10px;
        button {
          border: 1px solid #fafafa;
          background: gray;
          line-height: 40px;
          border-radius: 50%;
          width: 45px;
          cursor: pointer;
          font-size: 18px;
          font-weight: 800;
        }
      }
    }
    &_right {
      width: 40%;
      padding: 20px;
      .amount {
        display: flex;
        gap: 40px;
        label {
          display: block;
        }
      }
      .date {
        display: flex;
        gap: 20px;
      }
    }
  }
}
