<div class="outerContainer" *ngIf="currentObject">
    <div class="sideNav">sidenav</div>
    <div class="innerContainer">
        <div class="header">Header</div>
        <div class="container">
            <div class="container_left">
                <!-- <button class="left" (click)="rotateLeft()">Rotate Left</button>
                <button class="right" (click)="rotateRight()">Rotate Right</button>
                <div  style='height: 100px; width: 300px; background-color: green'>
                    <img #inputElement [src]="currentObject.url" style='height: 100%; width: 100%; object-fit: contain'>
                    <div class="zoomBtns">
                        <button class="" (click)="zoomIn()">+</button>
                        <button class="" (click)="zoomOut()">-</button>
                    </div>
                </div> -->
                            <div style='height: 100%; background-color: green'>
                                <button class="lbtn" (click)="rotateLeft()">Rotate Left</button>
                                <button class="rbtn" (click)="rotateRight()">Rotate Right</button>
                                <img #inputElement style='height: 100%; width: 100%; object-fit: contain'
                                    [src]='currentObject.url' />
                            
                            </div>
            </div>
            <div class="container_right">
                <div class="amount">
                    <div>
                        <label>Amount</label>
                        <input currencyMask [options]="{thousands: ',', decimal: '.' }" />
                    </div>
                    <div>
                        <label>Currency</label>
                        <input type="number">
                        <p>If unclear, use USD $</p>
                    </div>
                </div>
                <div>
                    <input type="checkbox"><label>Amount is unclear</label>
                </div>
                <div>
                    <input type="checkbox"><label>Amount is negative</label>
                </div>
                <div>
                    <button>Next</button>
                </div>
            </div>
        </div>
    </div>
</div>